body {
	font-family:"Architects Daughter";
	font-size: 36px;
	background-image:linear-gradient(#deebff, #ffa8fb);
	height:100vh;
}
.square{
	border: 1px solid black;
	width: 10%;
	height: 60px;
	float:left;
	display:flex;
	justify-content:center;

}
.white{
	background-color:white;
}
.black{
	 background-color:#787878;
}
.row{
	position:relative;
	margin-left:10%;
	margin-right:10%;
}
.header{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#ffa5fc;
}
#container{
	 margin-top:5%;
 margin-left:20%;
 margin-right:10%;
 margin-bottom:5%;
}
.clear{
	clear:both;
}

